html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*beginning of original code-header*/

header{
  max-width: 1300px;
  height: 523px;
  margin: auto;
  position: relative;
  background: url("images/wave-header.jpg")
}

.main-icon {
  position: relative;
  color: rgba(0, 52, 80, 1);
  left: 135px;
  top: 7px;
}

.icon-text{
  font-family: "Open Sans";
  color: rgba(0, 52, 80, 1);
  position: relative;
  left: 3px;
  bottom: 22px;
}

.about {
  position: absolute;
  display: inline;
  right: 263px;
  top: 20px;
  font-family: "Oswald";
  font-size: 18px;
  color: rgba(0, 52, 80, 1);
}
.search{
  position: absolute;
  display: inline;
  right: 191px;
  top: 20px;
  font-family: "Oswald";
  font-size: 18px;
  color: rgba(0, 52, 80, 1);
}
.search-icon{
  position: absolute;
  display: inline;
  right: 168px;
  top: 20px;
  color: rgba(0, 52, 80, 1);
}

h1{
  font-family: "Open Sans";
  font-size: 98px;
  color: #fff;
  text-align: center;
  margin-top: 155px;
}

.tagline {
  font-family: "Open Sans";
  font-size: 16px;
  margin-top: 5px;
  margin-left: 497px;
  color: rgba(0, 55, 85, 1);
}

/*article CSS begins*/

article {
  max-width: 980px;
  height: 1154px;
}

.headline {
  max-width: 572px;
  font-family: "Oswald";
  font-size: 62px;
  line-height: 110%;
  color: rgba(0, 52, 81, 1);
  text-align: left;
  margin-left: 163px;
  margin-top: 65px;
}
