
ol, ul {
	list-style: none;
}

/*beginning of original code-header*/

.background{
	background-color: rgba(0, 94, 150, .5);
}

header{
  max-width: 1300px;
  height: 523px;
  margin: auto;
  background-image: url("images/flags-header.jpg");
}

.main-icon {
  color: rgba(0, 52, 80, 1);
  margin-left: 135px;
  margin-top: 7px;
}

.icon-text{
  font-family: "Open Sans";
  color: rgba(0, 52, 80, 1);
  position: relative;
  left: 3px;
  bottom: 22px;
}

.about {
  position: absolute;
  display: inline;
  right: 263px;
  top: 20px;
  font-family: "Oswald";
  font-size: 18px;
  color: rgba(0, 52, 80, 1);
}
.search{
  position: absolute;
  display: inline;
  right: 191px;
  top: 20px;
  font-family: "Oswald";
  font-size: 18px;
  color: rgba(0, 52, 80, 1);
}
.search-icon{
  position: absolute;
  display: inline;
  right: 168px;
  top: 20px;
  color: rgba(0, 52, 80, 1);
}

h1{
  font-family: "Open Sans";
  font-size: 98px;
  color: #fff;
  text-align: center;
  padding-top: 155px;
}

.tagline {
  font-family: "Open Sans";
  font-size: 16px;
  margin-top: 5px;
  margin-left: 497px;
  color: rgba(0, 55, 85, 1);
}


/*article CSS begins*/

article {
  max-width: 600px;
  height: 1075px;
	margin-left: 160px;
}

.headline {
	width: 760px;
  font-family: "Oswald";
  font-size: 62px;
  line-height: 110%;
  color: rgba(0, 52, 81, 1);
  text-align: left;
  margin-top: 65px;
}

.subhead{
	margin-top: -50px;
	margin-left: -37px;
}

.subhead img{
	margin-top: 10px;
	max-height: 22px;
	max-width: 22px;
}

.subhead li{
	font-family: "Open Sans";
	font-size: 12px;
}
.subhead li:nth-child(2) {
	color: rgba(50, 125, 183, 1);
	margin-top: -20px;
	margin-left: 30px;
}

.subhead li:nth-child(3){
	color: rgba(177, 191, 201, 1);
	margin-top: -17px;
	margin-left: 100px;
}

.subhead li span{
	text-decoration: underline;
}

.post {
	position: relative;
	margin: 0 auto;
	text-align: left;
	font-family: "Open Sans";
	font-size: 16px;
	letter-spacing: .01em;
	color: rgba(93, 104, 111, 1);
	line-height: 1.6em;
	top: 35px;
}

.post h4{
	color: rgba(0, 108, 176, 1);
	font-size: 25px;
	letter-spacing: .02em;
	padding: 18px 0 14px 16px;
	margin: 22px 0 28px 5px;
	border-left: 2px solid rgba(211, 211, 211, 1);
}

.post span {
	color: rgba(177, 191, 201, 1);
	text-decoration: underline;
}

.buttons {
	font-family: "Open Sans";
	font-size: 12px;
	margin-left: 2px;
	color: #fff;
}

.buttons i{
	background-color: rgba(93, 104, 111, 1);
	padding: 9px 8px 8px 6px;
}

.buttons i:nth-child(3){
	background-color: rgba(0, 51, 79, 1);
}

.buttons li:nth-child(1){
	margin: 50px 60px 0 2px;
	background-color: rgba(161, 179, 190, 1);
}

.buttons li:nth-child(2){
	margin: -29px 0 0 150px;
	background-color: rgba(161, 179, 190, 1);
}

.buttons li:nth-child(3){
	margin: -29px 0px 50px 300px;
	background-color: rgba(0, 108, 176, 1);
}

/*aside code starts NOW*/
aside{
	max-width: 280px;
	max-height: 760px;
	margin-left: 853px;
	margin-top: -1007px;
}

.profile-photo2{
	margin-top: 10px;
	margin-left: 90px;
	max-height: 84px;
	max-width: 84px;
}

h3{
	font-family: "Open Sans";
	font-size: 17px;
	margin: 10px 0px 0 85px;
	letter-spacing: -.01em;
}

h4{
	font-family: "Open Sans";
	font-size: 14px;
	margin: 7px 0px 0 38px;
}

aside img{
	margin-top: 55px;
	margin-right: 10px;
}

a{
	margin-left: 194px;
	font-family: "Open Sans";
	font-size: 13px;
	color: rgba(170, 186, 196, 1);
}

h2{
	font-family:"Oswald";
	font-size: 18px;
	color: rgba(0, 87, 168, 1);
	margin-top: 50px;
}

aside p {
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 120%;
	color: rgba(170, 186, 196, 1);
}

aside span{
	text-decoration: underline;
}

/*footer css starts here*/
footer{
	height: 574px;
	max-width: 1300px;
}

.footer-header{
	font-style: "Open Sans";
	font-size: 70px;
	letter-spacing: -.1em;
	color: rgba(0, 52, 81, 1);
	border-top: 1px solid rgba(170, 186, 196, 1);
	margin-top: 220px;
	padding-top: 20px;
}

.image-container {
  display: inline-block;
  position: relative;
}

.image-container:hover::after {
  background-color: rgba(0, 0, 0, 0);
}

.footer-bottom{
	background-color: rgba(0, 51, 79, 1);
	max-width: 1300px;
	height: 97px;
}

.TIY-logo{
	margin: 18px 0 0 165px;
}

.footer-bottom p{
	color: rgba(161, 179, 190, 1);
	font-family: "Open Sans";
	font-size: 13px;
	margin: -40px 0 200px 235px;
}

.navigation-buttons{
	display: inline-block;
	position: relative;
	color: rgba(161, 179, 190, 1);
	font-family: "Open Sans";
	font-size: 13px;
	border-right: 1px solid rgba(161, 179, 190, 1);
	}

	.navigation-buttons li:nth-child(1){
		margin-left: 800px;
		top: 800px;
	}

	.navigation-buttons li:nth-child(2){
		margin-left: 900px;
	}

	.navigation-buttons li:nth-child(3){
		margin-left: 1000px;
	}

	.navigation-buttons li:nth-child(4){
		margin-left: 1100px;
	}
